@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 76px;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  height: var(--nav-height) !important;
}

main {
  min-height: calc(100% - var(--nav-height));
}

.app-marquee {
  background: linear-gradient(180deg, #d8ac54 0%, #5e4513 100%);
}

.app-img-box {
  @apply lg:w-[363px] md:w-[284px] sm:w-[186px] w-full sm:h-[500px] h-[280px] m-1 transition-width duration-250 lg:hover:w-[668px] md:hover:w-[468px] sm:hover:w-[368px];
}
